body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;

    padding: 5%;

    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    overflow-x: hidden;
}

body > h1 {
    font-size: 3vw;
    text-align: center;
}

.infos {
    width: 50vw;
    font-size: 1.3vw;
    box-sizing: border-box;
    padding: 2%;
}

.infos .info {
    display: flex;
    width: 100%;
    margin-bottom: 1.3vh;
}

.infos .title {
    color: #4da87d;
    width: 15%;
    font-weight: 500;
}

.bold {
    font-weight: 400;
}

.inline-bold {
    font-weight: 600;
}

.split-line {
    width: 100%;
    height: 1px;
    background-color: #2e2e2e;

    margin-top: 2vh;
    margin-bottom: 3vh;
}

.block {
    display: flex;
    width: 70vw;

    flex-direction: column;

    margin-bottom: 4vh;
}

.block > h1 {
    font-size: 1.8vw;
    font-weight: 600;
}

.block .contents {
    display: flex;
    position:relative;

    width: 100%;
    height: 100%;

    margin-bottom: 10vh;
}

.block .location {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1vw;
}

.block .location > img {
    width: .7vw;
    margin-right: .5vw;
}

.block .terms {
    display: flex;
    font-size: 1vw;
    color: #818181;
    width: 15%;
    height: 100%;

    text-align: start;
}

.block .content {
    width: 70%;
}

.block .summary {
    font-size: 1.5vw;
    font-weight: 500;
}

.block .details {
    display: flex;
    flex-direction: column;
    margin-top: 1.2vh;
    margin-bottom: 1.2vh;
    font-size: 1vw;
    font-style: italic;
}

.block .detail {
    margin-bottom: .3vh;
}

.block .descriptions {
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    margin-top: 2vh;
}

.block .description {
    margin-bottom: 1vh;
}
